<div class="container mt-4 bg-white rounded h-auto">
  <h2 class="pt-4">Community Questions</h2>
  {{#if category}}
  <h5 class="mt-2 text-success">Searching questions by category: <span class="text-dark">{{category}}</span></h5>
  {{/if}}
  {{#if user}}
  <div class="d-grid gap-2 d-md-flex justify-content-md-end">
    <button class="btn btn-dark me-md-2 rounded-pill" type="button" data-bs-toggle="modal"
      data-bs-target="#addQuestion"><i class="fas fa-plus-square"></i> Post
      question</button>
    <div class="btn-group" role="group">
      <button id="btnGroupDrop1" type="button" class="btn btn-dark dropdown-toggle rounded-pill"
        data-bs-toggle="dropdown" aria-expanded="false">
        <i class="fas fa-list"></i> Search by category
      </button>
      <ul class="dropdown-menu" aria-labelledby="btnGroupDrop1">
        <li><a class="dropdown-item" href="/">All categories</a></li>
        {{#each categories}}
        <li><a class="dropdown-item" href="/questions={{id}}">{{category}}</a></li>
        {{/each}}
      </ul>
    </div>
  </div>
  {{/if}}
  <hr>
  <form action="/" method="POST">
    <div class="input-group w-75 mx-auto my-4">
      <span class="input-group-text">
        <i class="fas fa-search"></i>
      </span>
      <input type="text" name="search" placeholder="Search question" class="form-control">
    </div>
  </form>
  {{#if questions}}
  <div class="row ms-3 align-items-center mt-5">
    {{#each questions}}
    <div class="col-12 mb-3 border-start border-5 border-dark py-4">
      <a href="details-question={{id}}" class="text-decoration-none">{{question}}</a>
      <p class="text-end">
        <span class="me-4 text-secondary">
          <i class="fas fa-eye"></i> Views: <span class="text-dark">{{views}}</span>
        </span>
        <span class="me-4 text-secondary">
          <i class="fas fa-signature"></i> Answers: <span class="text-dark">{{answers}}</span>
        </span>
        <span class="me-4 text-secondary">
          <i class="fas fa-tags"></i> Category: <span class="text-dark">{{category}}</span>
        </span>
        <span class="me-4 text-secondary">
          <i class="fas fa-user"></i> Posted by: <span class="text-dark">{{username}}</span>
        </span>
      </p>
    </div>
    {{/each}}
  </div>
  {{else}}
  <div class="my-5 text-center">
    <h2>You have no questions posted</h2>
    <p>¡Post a new question!</p>
  </div>
  {{/if}}
  <br>
</div>
{{>userComponents/questionModals/add}}