<div class="container mt-4 bg-white rounded h-auto">
    <h2 class="text-center pt-4">MY ANSWERS</h2>
    <hr>
    {{#if answers}}
    <div class="row px-5">
        <div class="col-12 border-bottom border-dark border-2">
            <div class="row">
                <div class="col-4">
                    <h5>Question</h5>
                </div>
                <div class="col-4">
                    My answer
                </div>
                <div class="col-2 ps-1">
                    votes
                </div>
                <div class="col-2">
                    Options
                </div>
            </div>
        </div>
        <div class="col-12 mt-3">
            {{#each answers}}
            <div class="row">
                <div class="col-4">
                    <a href="details-question={{fk_question}}" class="text-decoration-none">{{question}}</a>
                </div>
                <div class="col-4">
                    <p>{{answer}}</p>
                </div>
                <div class="col-2">
                    <p>{{votes}}</p>
                </div>
                <div class="col-2">
                    <div class="btn-group-vertical">
                        <button class="btn btn-dark rounded-pill h-auto mb-2" data-bs-toggle="modal"
                            data-bs-target="#editAnswer{{id}}"><i class="fas fa-edit"></i> Edit</button>
                        <button class="btn btn-danger rounded-pill h-auto mb-2" data-bs-toggle="modal"
                            data-bs-target="#deleteAnswer{{id}}"><i class="fas fa-trash-alt"></i>
                            Delete</button>
                    </div>
                </div>
            </div>
            {{>userComponents/answerModals/edit}}
            {{>userComponents/answerModals/delete}}
            {{/each}}
        </div>
    </div>
    {{else}}
    <div class="my-5 text-center">
        <h2>You have no answers posted</h2>
        <p>¡Post a new answer!</p>
    </div>
    {{/if}}
    <br>
</div>