<div class="container mt-4 pt-2 bg-white rounded h-auto">
    <section class="bg-light p-1 rounded">
        <h2 class="text-justify pt-5">{{question}}</h2>
        <p class="text-end">
            <span class="me-4 text-secondary">
                <i class="fas fa-eye"></i> Views: <span class="text-dark">{{views}}</span>
            </span>
            <span class="me-4 text-secondary">
                <i class="fas fa-tags"></i> Category: <span class="text-dark">{{category}}</span>
            </span>
            <span class="me-4 text-secondary">
                <i class="fas fa-user"></i> Posted by: <span class="text-dark">{{username}}</span>
            </span>
        </p>
        <hr>
        <p class="my-5">{{description}}</p>
        <hr>
    </section>
    {{!-- Section answers --}}
    <section>
        <h2 class="mb-3">Answers</h2>
        {{#each answers}}
        <div class="row mt-2 bg-light py-3">
            <div class="col-1 d-grid gap-2 mx-auto">
                <a href="/answer/addvote/{{id}}/{{fk_question}}" class="btn btn-dark btn-sm mb-2 rounded-pill"><i class="fas fa-thumbs-up"></i></a>
                <a href="/answer/subtractvote/{{id}}/{{fk_question}}" class="btn btn-dark btn-sm rounded-pill"><i class="fas fa-thumbs-down"></i></a>
            </div>
            <div class="col-11 position-relative">
                {{#if (yourAnswer fk_user user)}}
                <div class="d-grid gap-2 d-md-flex justify-content-md-end position-absolute top-0 end-0 translate-middle mt-3">
                    <button class="btn btn-dark rounded-pill h-auto mb-2" data-bs-toggle="modal"
                        data-bs-target="#editAnswer{{id}}"><i class="fas fa-edit"></i> Edit</button>
                    <button class="btn btn-danger rounded-pill h-auto mb-2" data-bs-toggle="modal"
                        data-bs-target="#deleteAnswer{{id}}"><i class="fas fa-trash-alt"></i>
                        Delete</button>
                </div>
                {{>userComponents/answerModals/edit}}
                {{>userComponents/answerModals/delete}}
                {{/if}}
                <h3>{{answer}}</h3>
                <p class="text-end">
                    <span class="me-4 text-secondary">
                        <i class="fas fa-thumbs-up"></i> Votes: <span class="text-dark">{{votes}}</span>
                    </span>
                    <span class="me-4 text-secondary">
                        <i class="fas fa-user"></i> Posted by: <span class="text-dark">{{username}}</span>
                    </span>
                </p>
            </div>
        </div>
        {{else}}
        <div class="my-5 text-center">
            <h2>You have no answers posted</h2>
            <p>¡Post a new answer!</p>
        </div>
        {{/each}}
    </section>
    <hr>
    {{!-- Section add answer --}}

    <section class="mt-5">
        {{#if user}}
        <div class="col-10 mx-auto">
            <div class="card shadow">
                <div class="card-header text-center">
                    ADD ANSWER
                </div>
                <div class="card-body">
                    <form action="/answer/add/{{idquestion}}" method="POST">
                        <div class="mb-3 pe-2">
                            <label for="">Answer:</label>
                            <div class="input-group">
                                <textarea type="text" name="answer" placeholder="Answer" cols="30" rows="10"
                                    class="form-control" required></textarea>
                            </div>
                        </div>
                        <div class="d-grid gap-2 col-6 mx-auto">
                            <button type="submit" class="btn btn-dark mx-auto">Post answer</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        {{else}}
        <div class="my-5 text-center">
            <h2>It looks like you're not logged in</h2>
            <p>¡Login right now and post a reply!</p>
            <div class="mb-5 d-grid gap-2 col-8 mx-auto">
                <a href="/signin" class="btn btn-dark rounded-pill">Sign in</a>
            </div> <br>
        </div>
        {{/if}}
    </section>
    <br>
</div>
